.dropzone {
    border: 2px dashed #ccc;
    height: 200px;
    width: 100%;
    text-align: center;
    padding: 30px;
    font-size: 18px;
  }

  body{
    background-image: url("b1.jpg");
    background-size: cover;
    background-position: center;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    
    color: #121111;
  }
  #submitBtn{
    background-color: rgb(0, 255, 221);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .btn-primary {
    display: block;
    width: 100%;
  }
  
  #preview {
    margin-top: 20px;
  }
  
 
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in;
  }
  
  /* Image */
  .img-container {
    position: relative;
    overflow: hidden;
    height: 200px;
  }
  
  .img-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .img-container:hover img {
    transform: scale(1.1);
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }
  
  @media (max-width: 576px) {
    .container {
      max-width: 400px;
    }
  
    .img-container {
      height: 150px;
    }
  }
  